@media (min-width: 1200px) {
    .animation-tran .site-animation {
        transform: translateY(60px);
        opacity: 0;
        transition: opacity 800ms linear, transform 800ms linear;
    }

    .animation-tran.active .site-animation {
        opacity: 1;
        transform: translateY(0);
    }
}