.contain {
    margin-top: 10px;
    width: 80%;
    margin: 0 auto;
}

.heading {
    margin-top: 40px;
    margin-bottom: 10px;
    padding-bottom: 8px;
}

.heading h3 {
    font-size: 30px;
    color: #3A393A;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.brcontain {
    display: flex;
}

.brandslider-container {
    display: block;
    width: 50%;
}

.carouselbrand img {
    width: 100%;
}

.listbrand {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.brand-logo {
    text-align: center;
    width: 25%;
}

.brand-logo img {
    width: 100%;
    height: auto;

}

@media (max-width: 768px) {
    .brcontain {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .brandslider-container{
        width: 100%;
    }
    .listbrand {
        width: 100%;
        display: flex;
    }
}