.tabbar1{
  margin-top: 50px;
}
.tab1bg, .tab2bg{
  background-color: #f7f7f7;
}

.container-tab {
  width: 80%;
  padding: 10px;
  margin: 0 auto;
}
.container-tab h1{
  font-size: 28px;
  text-align: center;
  margin: 10px 0 20px;
  padding: 10px;
}

.list_logo {
  padding: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
  margin: 0 auto;
}

.list_logo h3 {
  margin: 10px;
  font-size: 16px;
  font-weight: 600;
  color: rgb(99, 99, 99);
}

.box {
  width: 20%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.box img {
  width: 60px;
  height: 60px;
  margin: 0 auto;
  padding: 14px;
  border-radius: 50%;
  background-color: #ffffff;
  padding: 10px;
}

.box.active img {
  background-color: #fff0f2;
  border: 2px solid rgb(249, 91, 118);
}

.tab {
  display: none;
}

.tab.active {
  display: block;
}
.contain-text{
  margin: 0 auto;
  text-align: center;
  max-width: 720px;
}
.content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content h5 {
  color: rgb(249, 91, 118);
  font-size: 18px;
  margin: 15px 0;
}

@media (max-width:768px){

  .container-tab h1{
    font-size: 26px;
    text-align: center;
    margin: 10px 0 20px;
    padding: 10px;
  }
  .list_logo h3 {
    margin: 10px;
    font-size: 16px;
  }
  .content h5 {
    font-size: 18px;
    margin: 15px 0;
  }
  .content p{
    font-size: 14px;
    padding: 10px 0px 0px 0;
  }
}
@media (max-width: 576px) {
  .box {
    flex: 100%;
  }
  .box img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
  }
  .container-tab h1{
    font-size: 26px;
    text-align: center;
    margin: 10px 0 20px;
    padding: 10px;
  }
  .list_logo h3 {
    margin: 10px;
    font-size: 10px;
  }
  .content h5 {
    font-size: 16px;
    margin: 15px 0;
  }
  .content p{
    font-size: 14px;
    padding: 10px 0px 0px 0;
  }
}