/* Thanh điều hướng */
.navbar {
    display: flex;
    justify-content: center;
    background-color: transparent
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    position: relative;
    list-style-type: none;
}
.nav-item {
    position: relative;
    margin: 0 14px; 
}


.nav-item::after {
    content: '';
    display: inline-block;
    position: absolute;
    height: 20px;
    width: 1px;
    background-color: #c1b7b7;
    opacity: 0.7;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
}

.nav-item:last-child::after {
    display: none;
}

.nav-link {
    color: #3a393a;
    text-decoration: none;
    font-size: 16px;
}


.nav-link:hover {
    color: #a31077;
}

.nav-item .home {
    font-weight: 700;
    color: #cc2a9c;
    font-weight: 700;
}
