/* nav.css */
.nav-container{
    display: flex;
}
.navbar {
    background-color: #faf1f1 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-collapse{
    /* justify-content: center; */
}

.navbar-brand img {
    width: 150px;
}

.nav-link {
    color: #5a5a5a !important;
    font-size: 18px;
    text-align: center;
}

.nav-link:hover {
    color: rgb(255, 69, 184) !important;
}

/* search bar */
.searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    max-width: 500px;
    margin: 0px 20px;
}

.searchBar input {
    padding: 10px 15px;
    width: 100%;
    border: none;
    border-radius: 15px 0 0 15px; 
    font-size: 16px; 
    outline: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    max-width: calc(100% - 50px);
}

.searchBar button {
    background-color: rgb(255, 69, 184);
    border-radius: 0 15px 15px 0; 
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 11px;
    border: none;
    text-align: center;
    cursor: pointer;
}

.searchBar button:hover {
    background-color: rgb(219, 73, 163);
}

.searchBar button i {
    font-size: 18px;
    color: white;
}
