/* Thanh điều hướng */
.navbar {
    display: flex;
    justify-content: center;
    background-color: transparent
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    position: relative;
}
.nav-item {
    position: relative;
    margin: 0 12px; 
}


.nav-item::after {
    content: '';
    display: inline-block;
    position: absolute;
    height: 20px;
    width: 1px;
    background-color: #a09999;
    opacity: 0.8;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
}

.nav-item:last-child::after {
    display: none;
}

.nav-link {
    color: #3a393a;
    text-decoration: none;
    font-size: 16px;
}


.nav-link:hover {
    color: #ff41c6;
}

.home {
    font-weight: 700;
}

.hotdeal {
    color: #b42489;
    font-weight: 700;
}
