.group2{
    width: 80%;
    margin: 0 auto;
}
.heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 30px;
    padding: 10px 0;
}
.heading h3{
    font-size: 26px;
    color: #3A393A;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.heading p,i {
    color: #444244;
}
.heading i{
    margin-left: 6px;
    font-size: 14px;
}

.product-card {
    height: 100%;
    position: relative;
    background: #fff;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 4px;
}
.product-card img {
    max-width: 70% !important;
    margin: 0 auto;
    transition: 0.6s ease;
}

.product-card img:hover {
    transform: scale(1.1);
}

.product-info {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product-info h3 {
    font-size: 14px;
    margin: 6px 0;
    flex-grow: 1;
    min-height: 30px;
    line-height: 15px;
    text-transform: uppercase;
}
.product-info .name {
    margin: 4px 0;
    min-height: 30px;
    line-height: 15px;
}

.product-info p {
    font-size: 14px;
    margin: 4px 0;
    min-height: 30px;
    line-height: 15px;
}

.product-info .price {
    margin: 10px 0;
    color: red;
    font-weight: bold;
    min-height: 30px;
    line-height: 15px;
}

.ItemSwiper {
    --swiper-navigation-size: 24px;
}

.ItemSwiper .swiper-button-next,
.ItemSwiper .swiper-button-prev {
    color: #000;
    top: 50%;
    transform: translateY(-50%);
    display: block;
}

@media(max-width:768px) {
    .ItemSwiper .swiper-button-next,
    .ItemSwiper .swiper-button-prev{
        display: none;
    }
    .product-info h3 {
        min-height: 30px;
        line-height: 15px;
    }
    .product-info .name {
        font-size: 12px;
        margin: 4px 0;
        min-height: 30px;
        line-height: 15px;
    }
    .product-info .price{
        font-size: 12px;
        min-height: 30px;
        line-height: 15px;
    }
    .product-info .sizes{
        margin-top: 2px;
        font-size: 10px;
    }
}
@media (max-width: 576px) {
    .heading h3{
        font-size: 22px;
        color: #3A393A;
        font-family: Arial, Helvetica, sans-serif;
    }
    .heading p,i {
        color: #444244;
        font-size: 12px;
    }
}
@media (max-width: 320px) {
    .heading h3{
        font-size: 20px;
        color: #3A393A;
        font-family: Arial, Helvetica, sans-serif;
    }
    .heading p,i {
        color: #444244;
        font-size: 12px;
    }
}