.product-list {
  width: 100%;
  box-sizing: border-box;
}

.title-sp {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.title-sp h2 {
  padding: 10px;
  font-size: 22px;
}

.title-sp .filter-dropdown {
  padding: 10px;
}

.contain-list {
  width: 70%;
  margin: 0 auto;
}

.list-bg {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-item {
  width: 23%;
  box-sizing: border-box;
  text-align: center;
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  margin: 10px 0;
  padding: 6px;
}

.card-item img {
  max-width: 70%;
  height: auto;
  margin: 0 auto;
  transition: 0.6s ease;
  padding: 20px 0;
}

.card-item img:hover {
  transform: scale(1.1);
}

.card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.card-info .card-brand {
  font-size: 16px;
  margin: 6px 0;
  font-weight: bold;
  color: #555;
}

.card-info .card-name {
  min-height: 30px;
  line-height: 15px;
  margin: 4px 0;
  font-size: 14px;
  color: #555;
}

.card-info p {
  min-height: 30px;
  line-height: 15px;
  font-size: 14px;
  margin: 4px 0;
  color: #666;
}

.card-info p.card-price {
  min-height: 30px;
  line-height: 15px;
  margin: 10px 0;
  color: red;
  font-weight: 600;
}

.card-info p.card-sizes {
  font-size: 14px;
  color: #999;
}

/* pagination */
.pagination {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  list-style-type: none;
}

.pagination a {
  padding: 8px 16px;
  margin: 0 4px;
  border-radius: 8px;
  color: #333;
  cursor: pointer;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.pagination .active {
  color: #da20a2;
}

.pagination a:hover {
  background-color: #fff0f8;
}

/* Media Queries for Responsive Design */
@media (max-width: 1200px) {
  .card-item {
    width: 25%;
  }
}

@media (max-width: 992px) {
  .card-item {
    width: 33.33%;
  }

  .card-item img {
    max-width: 100%;
  }

  .card-info h3.card-name {
    min-height: 30px;
    line-height: 15px;
  }

  .card-info p.card-brand {
    min-height: 50px;
    line-height: 15px;
  }
}

@media (max-width: 768px) {
  .card-item {
    width: 50%;
  }

  .card-item img {
    max-width: 100%;
  }

  .card-info h3.card-name {
    min-height: 30px;
    line-height: 15px;
    font-size: 16px;
    margin: 6px 0;
    font-weight: bold;
  }

  .card-info p.card-brand {
    min-height: 50px;
    line-height: 15px;
    margin: 4px 0;
    font-size: small;
    color: #333;
  }
}

@media (max-width: 576px) {
  .title-sp h2 {
    padding: 10px;
    font-size: 16px;
  }

  .list-bg {
    width: 100%;
  }

  .card-item {
    width: 50%;
  }

  .card-item img {
    max-width: 100%;
  }

  .card-info h3.card-name {
    min-height: 30px;
    line-height: 15px;
    font-size: 16px;
    margin: 6px 0;
    font-weight: bold;
  }

  .card-info p.card-brand {
    min-height: 50px;
    line-height: 15px;
    margin: 4px 0;
    font-size: small;
    color: #333;
  }

  .card-info p {
    min-height: 30px;
    line-height: 15px;
    font-size: small;
    margin: 4px 0;
    color: #666;
  }

  .card-info p.card-price {
    min-height: 30px;
    line-height: 15px;
    margin: 10px 0;
    color: red;
    font-weight: bold;
    font-size: small;
  }

  .card-info p.card-sizes {
    font-size: 12px;
    color: #999;
  }

  .title-sp h2 .filter-dropdown,
  h2 {
    font-size: 14px;
  }
}

@media (max-width: 320px) {
  .title-sp h2 {
    padding: 10px;
    font-size: 14px;
    min-height: 30px;
    line-height: 15px;
  }

  .list-bg {
    width: 100%;
  }

  .card-item {
    width: 100%;
  }

  .card-item img {
    max-width: 100%;
  }

  .card-info h3.card-name {
    font-size: 16px;
    margin: 6px 0;
    font-weight: bold;
  }

  .card-info p.card-brand {
    min-height: 50px;
    line-height: 15px;
    margin: 4px 0;
    font-size: small;
    color: #333;
  }

  .card-info p {
    min-height: 30px;
    line-height: 15px;
    font-size: small;
    margin: 4px 0;
    color: #666;
  }

  .card-info p.card-price {
    min-height: 30px;
    line-height: 15px;
    margin: 10px 0;
    color: red;
    font-weight: bold;
    font-size: small;
  }

  .card-info p.card-sizes {
    font-size: 12px;
    color: #999;
  }

  .title-sp h2 {
    font-size: 14px;
  }
}