.footer {
    background-image: linear-gradient(to top, rgb(255, 211, 225), #fdf5f5);
    box-sizing: border-box;
    padding: 30px 0;
}

.footer-container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 20px 10px;
    color: #222020;
}

.footer-container .col1 {
    text-align: center;
}

.footer-container .col1,
.footer-container .col2,
.footer-container .col3,
.footer-container .col4 {
    flex: 25%;
    padding: 0 10px;
    box-sizing: border-box;
}

.footer-container .col3 {
    padding-left: 60px;
}

.footer-container .col2 {
    padding-left: 40px;
}

.footer-container .col1 img {
    max-width: 150px;
    margin-bottom: 10px;
}

.footer-container .col1 p {
    letter-spacing: 0.5px;
    padding: 5px;
}

.footer-container .social-icons {
    padding: 10px;
}

.footer-container .social-icons a {
    text-align: center;
    background-color: #ffe4f5;
    color: #000;
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

.footer-container .social-icons i {
    width: 20px;
    height: 20px;
    color: #cd1f93;
}

.footer-container .social-icons a:hover {
    background-color: #ffd3f1;
    transform: scale(1.4);
}


.footer-container h5 {
    font-size: 22px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.footer-container ul {
    list-style: none;
    padding: 0;
}

.footer-container ul li {
    margin-bottom: 8px;
}

.footer-container ul li a {
    text-decoration: none;
    color: #2b2929;
}

.footer-container ul li a:hover {
    color: #ec1da7;
}

.footer-container form Input[type='email'] {
    padding: 8px;
    margin-right: 10px;
    border-radius: 6px;
    border: 1px solid rgb(249, 91, 118);
    outline: rgb(249, 91, 118);
}

.footer-container form button {
    margin: 12px 0;
    padding: 8px 14px;
    border-radius: 6px;
    background-color: rgb(249, 91, 118);
    border: none;
    transition: transform 0.2s;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}

.footer-container form button:hover {
    background-color: rgb(250, 131, 157);
    transform: scale(1.05);
}

.footer-container form button:focus {
    background-color: rgb(245, 107, 130) !important;
}

.footer-container .contact {
    margin-top: 5px;
    white-space: nowrap;
    color: #302e2e;
    font-weight: 700;
}

.copyright hr {
    width: 50%;
    border-top: 1px solid #585858;
    opacity: 0.2;
    margin: 10px auto;
    text-align: center;
}

.copyright p {
    text-align: center;
    font-size: 13px;
    color: #6c757d;
}

.footer-container .payment p {
    padding-top: 6px;
    white-space: nowrap;
    color: #302e2e;
    font-weight: 600;
}

.footer-container .payment img {
    width: 80%;
}

/* Large screens (desktops) */
@media (min-width: 992px) {

    .footer-container .col1,
    .footer-container .col2,
    .footer-container .col3,
    .footer-container .col4 {
        flex: 1 1 25%;
        max-width: 25%;
    }
}

/* Medium screens (tablets) */
@media (max-width: 991px) and (min-width: 768px) {

    .footer-container .col1,
    .footer-container .col2,
    .footer-container .col3,
    .footer-container .col4 {
        flex: 1 1 50%;
        max-width: 50%;
        text-align: center;
        padding: 10px;
    }
}

/* Small screens (phones) */
@media (max-width: 767px) {

    .footer-container .col1,
    .footer-container .col2,
    .footer-container .col3,
    .footer-container .col4 {
        flex: 1 1 100%;
        max-width: 100%;
        text-align: center;
        padding: 10px;
    }
}

@media (max-width: 576px) {

    .footer-container .col1,
    .footer-container .col2,
    .footer-container .col3,
    .footer-container .col4 {
        flex: 1 1 100%;
        max-width: 100%;
        text-align: center;
        padding: 10px;
    }

    .footer-container h5 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .footer-container .col1 p {
        margin: 10px;
    }

    .footer-container .col1 {
        margin-bottom: 10px;
    }

    .footer-container .col1 p,
    .footer-container ul li a {
        font-size: 14px;
    }

    .footer-container .copyright p {
        font-size: 12px;
    }
}

@media (max-width: 320px) {

    .footer-container .col1,
    .footer-container .col2,
    .footer-container .col3,
    .footer-container .col4 {
        flex: 1 1 100%;
        max-width: 100%;
        text-align: center;
        padding: 10px;
    }

    .footer-container h5 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .footer-container .col1 p {
        margin: 10px;
    }

    .footer-container .col1 {
        margin-bottom: 10px;
    }

    .footer-container .col1 p,
    .footer-container ul li a {
        font-size: 14px;
    }

    .footer-container .copyright p {
        font-size: 12px;
    }

}